
/* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(192,192,192); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

.page-header h1 {
  line-height: 1;
}
#header,{
  display: block;
}
#header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

#header .close {
  margin-top: 2px;
}
#header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#header {
  margin-top: 9px;
}
body {
font-size: 13px;	
	}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h1 small {
  font-size: 18px;
}
h1,
h4{
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small,
h4 small{
  font-weight: normal;
  color: #999999;
}
#raceid,
#racetime{
		font-size: 20px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0px auto;
		background-color:#006633;
		right:10px;
}
#bookedmember{
		font-size: 25px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0px auto;
		background-color:#006633;
		right:10px;
}
#bookeddetails{
		width: auto;
		height: auto;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0px auto;
		margin-top:15px;
		color: #585858 ;
		background-color:#F5DEB3 ;
		margin-bottom:5px;
		margin-left:30px;
		margin-right:30px;
		
}
#bookeddetails:hover {
  border-color: rgba(82, 168, 236, 0.8) ;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00FF00;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00FF00;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00FF00;
}
.customer {
		font-size: 17px;
		width:270px;
		height:135px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0px auto;
		background-color:rgb(232,232,232);
		margin-top:-18px;
		margin-bottom:5px;
		margin-left:10px;
		
}

#page {
		width: auto;
		font-size: 16px;
		height: auto;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0px auto;
		float:left;
		margin-top:20px;
		margin-left:30px;
}

.customer:hover {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.thumbnail:hover {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


.text_line
{
clear:both;
}

.customer {
    overflow: auto;
}​

.row-fluid .thumbnails {
  margin-left: 0;
}


.thumbnail {
	font-size: 16px;
	width:290px;
		height:260px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0px auto;
		float:left;
		background-color:rgb(232,232,232);
		margin-top:10px;
		margin-bottom: 10px;
		margin-left:15px;
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
}

input,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

input {
  *overflow: visible;
  line-height: normal;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

input,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[name="name"],
.uneditable-input {
  display: inline-block;
  height: 25px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  width: 160px;
}

input[type="submit"],
.uneditable-input {
  display: inline-block;
  height: 27px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  width: 80px;
}

input,
.uneditable-input {
  display: inline-block;
  height: 25px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  width: 120px;
}

textarea {
  width: 180px;
  height: auto;
}

textarea,
input[type="text"],
input[type="date"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="date"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  padding: 6px;
  width:50px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
span.mobin{
  padding: 8px;
  width:60px;
  margin-left:8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  background-color: #FFFAF0	;
}

table tbody tr:hover td,
span.profitloss  {
  background-color: #F8F8F8;
}

.btn,
.btn1 {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn1:hover {
  color: #333333;
  text-decoration: blink;
  background-color: #F8F8F8 ;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}